<div class="container-fluid">
  <div id="header">
    <img id="logo"
     src="https://camo.githubusercontent.com/9774ef0872671d1efb60aa2e4e78e5c3ba55ea16/68747470733a2f2f696e666f2e74686f75676874776f726b732e636f6d2f72732f3139392d5144452d3239312f696d616765732f4861636b4272657869742e706e67" alt="Hack Brexit Logo" />

    <h2>Beyond Brexit: Creating dialogue and action for a country divided</h2>
    <p>Brexit is one of the most controversial and seismic political events in the UK’s recent history. Yet throughout the pre-referendum campaigns and aftermath of Brexit many questions remain unanswered and the future unclear.</p>

    <p>Regardless of whether you voted in or out, this two day event is open to the tech and non-tech community to join forces to create dialogue and action beyond Brexit.</p>


    <p>We invite you to hack three key themes:</p>

    <ul>
      <li>Truth, fiction, & accountability</li>
      <li>Tolerance & prejudice</li>
      <li>Effective organising & campaigning</li>
    </ul>
  </div>
</div>
