{% include head.html %}
<body>
<div class="container-fluid">
    {% include header.html %}

    {% for post in site.posts %}
    <div class="card">
        <!--<img class="card-img-top" data-src="..." alt="Card image cap">-->
        <div class="card-block">
            <h4 class="card-title">{{ post.name }}</h4>
            <p class="card-text">{{ post.description }}</p>
        </div>
        <!--<ul class="list-group list-group-flush">-->
            <!--<li class="list-group-item">Cras justo odio</li>-->
            <!--<li class="list-group-item">Dapibus ac facilisis in</li>-->
            <!--<li class="list-group-item">Vestibulum at eros</li>-->
        <!--</ul>-->
        <!--<div class="card-block">-->
            <!--<a href="#" class="card-link">Card link</a>-->
            <!--<a href="#" class="card-link">Another link</a>-->
        <!--</div>-->
    </div>
    {% endfor %}
</div>
</body>
<!-- End of html -->
</html>
