{% include head.html %}
<body>
<div class="container">
    {% include header.html %}

    {% for post in site.posts %}
    <div class="card">
        <h3 class="card-header">{{ post.name }}</h3>
        <!--<img class="card-img-top" data-src="..." alt="Card image cap">-->
        <div class="card-block">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://cloud.githubusercontent.com/assets/624760/17083561/17052826-519d-11e6-9114-ab53b3d7724e.jpeg" alt="youtube placeholder" width="300px" />
                </div>

                <div class="col-sm-8">
                    <p class="card-text">{{ post.description }}</p>
                    <a href="{{ post.github_url }}" class="card-link" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i> GitHub
                    </a>
                    <a href="{{ post.presentation_url }}" class="card-link" target="_blank">
                        <i class="fa fa-line-chart" aria-hidden="true"></i> Presentation
                    </a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ post.display_date }}
        </div>
    </div>
    {% endfor %}
</div>
{% include footer.html %}
</body>
<!-- End of html -->
</html>
