{% include head.html %}

<div class="container">
    {% include header.html %}

<h1>Hack Brexit Mailing List</h1>

<p>Sign up on our Hack Brexit contact form for us to keep you updated with all of the latest news </p>

  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSftbQrHueHZpjbXyXhWKvR-uixs2J_BFhxJL29ZVp-v9vFoiQ/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

    {% endfor %}
</div>
{% include footer.html %}

{% include foot.html %}
