{% include head.html %}

<div class="container">
    {% include header.html %}

<h1>Hack Brexit Mailing List</h1>

<p>Sign up on our Hack Brexit contact form for us to keep you updated with all of the latest news </p>

<form method="POST" action="http://formspree.io/hackbrexit@gmail.com">
  <input type="email" name="email" placeholder="Your email">
  <input type="name" name="name" placeholder="Your name">
  <button type="submit">Send</button>
</form>

{% comment %}
<form accept-charset="UTF-8" action="https://docs.google.com/forms/d/e/1FAIpQLSftbQrHueHZpjbXyXhWKvR-uixs2J_BFhxJL29ZVp-v9vFoiQ/viewform" method="POST">
  <input type="email" name="email" placeholder="Your Email">
  <input type="text" name="name" placeholder="Your Name">
  <input type="hidden" name="utf8" value="✓">
  <button type="submit">Submit</button>
</form>
{% endcomment %}

{% comment %}
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSftbQrHueHZpjbXyXhWKvR-uixs2J_BFhxJL29ZVp-v9vFoiQ/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
{% endcomment %}

</div>
{% include footer.html %}

{% include foot.html %}
