{% include head.html %}

<div class="container">
  {% include header.html %}

  <h1>What The Fact MVP</h1>

  <ul>
    <li><p><b>What The Fact is one of the two MVP projects produced during the Hack Brexit<a href="http://hackbrexit.org/open_source_accelerator.html" target="_blank"> 3 month open source accelerator programme.</a></p></b></li>
  </ul>

  <h2>#HackBrexit: What The Fact</h2>

  <p>What The Fact is a project that came out of the #HackBrexit Hackathon which took place during one weekend, July 23-24 in 2016. The project was further developed during the Hack Brexit accelerator programme which ran September - December 2016. See the site for the full project<a href="http://whatthefact.uk" target="_blank"> here.</a></p>

  <h2>The Project</h2>

  <p>What The Fact is a chrome browser plugin that gives you fact-checking information about what you're reading.</p>

  <h2>The Team</h2>
  <ul>
    <li><p><a href="https://github.com/soosa" target="_blank">Annett Soosa</a></p></li>
    <li><p><a href="https://github.com/cnak" target="_blank">Cedric Kisema</a></p></li>
    <li><p><a href="https://github.com/jeremynevans" target="_blank">Jeremy Evans</a></p></li>
    <li><p><a href="https://github.com/jennypop" target="_blank">Jenny Yang</a></p></li>
    <li><p><a href="https://github.com/orgs/HackBrexit/people/JoeWroe" target="_blank">Joe Wroe</a></p></li>
    <li><p><a href="https://github.com/sjnorth" target="_blank">Samantha North</a></p></li>
    <li><p><a href="https://github.com/FadumaM" target="_blank">Faduma North</a></p></li>
    <li><p><a href="https://github.com/eddiejaoude" target="_blank">Eddie Jaoude</a></p></li>
    <li><p><a href="https://github.com/Guzol" target="_blank">Gustek Guzol</a></p></li>
    <li><p><a href="https://github.com/joerayme" target="_blank">Joe Ray</a></p></li>
    <li><p><a href="https://github.com/jialutu" target="_blank">Jialu Tu</a></p></li>
    <li><p><a href="INCOMPLETE" target="_blank">Kylie Castellaw </a></p></li>
    <li><p><a href="https://github.com/zoodor" target="_blank">Mark T</a></p></li>
    <li><p><a href="https://github.com/nicosy" target="_blank">Nico</a></p></li>
    <li><p><a href="INCOMPLETE" target="_blank">Oliver Key</a></p></li>
    <li><p><a href="https://github.com/superspring" target="_blank">Super Spring</a></p></li>
  </ul>


  <h2>Want to get involved?</h2>
  <p>Whilst the 3 month accelerator programme which ran September - December 2016 is now over, we would still welcome contributions for the project. Please join us on slack to begin contributing <a href="https://hackbrexit.herokuapp.com/" target="_blank"> here.</a> and on the github repository <a href="https://github.com/HackBrexit/WhatTheFact">here.</a></p>


</div>
{% include footer.html %}

{% include foot.html %}
